
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    }
    .invalid {
        font-style: italic;
        color: red;
        text-underline-offset:20px
    }
    
    .error-message {
        
        display: none;
        flex-direction: column;
        font-style: italic;
        font-weight: 600;
        border-color: red;
        border-style: solid;
        padding: 10px;
    }

    body {
        padding: 0px 300px;
    }

    h1 {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .btn-primary {
        background-color: black;
    }